root = true

# All files
[*]
indent_style = space

# Xml files

[*.xml]
indent_size = 2


[*.cs]
dotnet_naming_symbols.async_methods.applicable_kinds = method
dotnet_naming_symbols.async_methods.required_modifiers = async

dotnet_naming_style.async_suffix.required_suffix = Async
dotnet_naming_style.async_suffix.capitalization = pascal_case

dotnet_naming_rule.async_methods_must_end_with_async.symbols = async_methods
dotnet_naming_rule.async_methods_must_end_with_async.style = async_suffix
dotnet_naming_rule.async_methods_must_end_with_async.severity = error

# CA1715: Identifiers should have correct prefix
dotnet_diagnostic.CA1715.severity = error

dotnet_diagnostic.IDE0003.severity = error
dotnet_diagnostic.IDE0009.severity = error
